# Python
__pycache__/
*.pyc
*.pyo
venv/
.venv/

# Node/React
node_modules/
build/
dist/
frontend/node_modules/
frontend/build/
frontend/dist/

# Env files
.env
frontend/.env

# IDE/editor
.vscode/
.idea/
.DS_Store
